/* Genel stiller */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --main-color: #2a44a0;
  --black-color: #0e0e0e;
  --white-color: #ffffff;
  --main-basma-color: #d4d4d5;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s ease;
}

/* Temel HTML stilleri */
html {
  font-size: 62.5%;
  overflow-x: hidden;
  background-color: var(--main-color);
}

html::-webkit-scrollbar {
  width: 0.5rem;
  background-color: white;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--black-color);
}

body {
}

/* Container stilleri */
section {
  padding: 3.5rem 7%;
}

.container {
  background-color: var(--white-color);
  box-shadow: 0px 0px 65px 3px rgba(0, 0, 0, 1);
  padding: 1rem;
  color: var(--white-color);
  border: none;
  margin: 10rem 0rem; 
  font-size: 1.5rem;
  border-bottom: 0.1rem solid transparent;
  align-items: center;
  column-count: 3;
  column-gap: 2rem; 
}

.container .acilan-pencere {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.container .acilan-pencere button {
  background-color: var(--main-color);
  cursor: pointer;
  padding: 1rem;
  font-weight: bold;
  color: white;
  width: 100%; 
}

.container .acilan-pencere button:hover {
  opacity: 0.8;
}

.container .acilan-pencere button:focus + nav {
  opacity: 1;
  visibility: visible;
  transition: opacity 200ms, visibility 200ms;
}

.container .acilan-pencere nav {
  border: 0.3rem solid var(--main-color);
  background-color: var(--main-basma-color);
  padding: 2rem;
  color: var(--black-color);
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms, visibility 200ms;
}

/* Header stilleri */
.header {
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
  margin: 2rem 7%;
  border-radius: 10rem;
  box-shadow: 0px 0px 65px 3px rgba(0, 0, 0, 1);
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 10rem;
}

.header .logo {
  margin: 0 1rem;
  font-size: 3rem;
  color: var(--black-color);
  border-bottom: 0.1rem solid transparent;
  font-weight: bold;
  letter-spacing: 1rem;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 3rem;
  color: var(--main-color);
  border-bottom: 0.1rem solid transparent;
}

.header .navbar .active,
.header .navbar a:hover {
  border-color: var(--black-color);
  padding-bottom: 0.5rem;
}

/* Footer stilleri */
.footer {
  background-color: var(--white-color);
  color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
  margin: 2rem 7%;
  border-radius: 10rem;
  box-shadow: 0px 0px 65px 3px rgba(0, 0, 0, 1);
  column-gap: 2rem; 
}

.links {
  display: flex;
  flex-direction: column;
}

.links a {
  padding: 1rem 0;
  color: var(--black-color);
  border: none;
  cursor: pointer;
  font-size: 2rem;
  border-bottom: 0.1rem solid transparent;
}

.bilgi {
  padding: 0.8rem;
  color: var(--main-color);
  border: none;
  margin: 0.1rem;
  font-size: 1.5rem;
}
